@use "src/utils/styles/mediaQuery" as media;

.navbar {
  width: 100%;
  height: 80px;
  position: absolute;
  box-shadow: 0 0 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #99ccff;

  @include media.media-breakpoint-down(mobile) {
    width: 216px;
  }
  
  &__logo {
    display: flex;
  }

  &__logo--link {
    width: 60px;
    margin-left: 30px;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    gap: 50px;
    list-style: none;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #222222;
  }
}
