@use "src/utils/styles/mediaQuery" as media;

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  width: 375px;
  display: flex;
  flex-direction: column;

  &__input {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    margin: 8px 0;
    padding-left: 16px;
    border: none;
    background-color: #eeeeee;
    font-size: 16px;

    @include media.media-breakpoint-down(mobile) {
      width: 270px;
    }

    &:focus {
      outline: 2px solid #99ccff;
    }

    &::placeholder {
      color: #c4c4c4;
    }

    &--id {
      
    }
  
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #666666;
  }  
}
