...............................................home {
  background: url(../..//assets/Icon/sunlight.jpg) no-repeat;
  width: 100%;
  background-attachment: fixed;
  height: 500vh;
}
.first-background {
  background-attachment: fixed;
}
