.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.carousel {
  margin-top: 82px;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__slider {
    width: 100%;
    display: flex;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    height: 70vh;
  }
  &__image {
    width: 100%;
  }
}
.image {
  background: url(https://cdn.pixabay.com/photo/2020/07/14/16/18/snow-5404785_960_720.jpg)
    no-repeat;
  background-attachment: fixed;
}
