@use "src/utils/styles/mediaQuery" as media;

.content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.post {
  width: 80%;
  margin-top: 120px;

  @include media.media-breakpoint-down(mobile) {
    margin-top: 20px;
  }

  &__title {
    color: #666666;
    font-weight: 700;
    font-size: 32px;
  }
}
.form {
  display: flex;
  align-items: center;
  height: 80vh;
  flex-direction: column;

  &__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    color: #666666;

    &--text {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &--input {
      padding: 5px;
      height: 35px;
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid #c4c4c4;
      resize: none;

      &:focus {
        outline: 2px solid #99ccff;
      }

      &::placeholder {
        color: #c4c4c4;
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px 0;

    &--text {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &--input {
      height: 80%;
      padding: 5px;
      border-radius: 10px;
      font-size: 16px;
      border: 1px solid #c4c4c4;
      resize: none;

      &:focus {
        outline: 2px solid #99ccff;
      }

      &::placeholder {
        color: #c4c4c4;
      }
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &--submit {
      width: 90px;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      background: linear-gradient(to right, #11283e, #235788, #265e92);
      color: #ffffff;

      &:hover {
        background-color: #59acff;
      }
    }

    &--cancel {
      width: 90px;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      background-color: #c4c4c4;
      color: #ffffff;

      &:hover {
        background-color: #999999;
      }
    }
  }

  &__preview {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    float: left;

    &--name {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      border: 1px solid #dddddd;
      border-radius: 5px;
      color: #999999;
    }

    &--label {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      vertical-align: middle;
      background-color: #999999;
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      height: 20px;
      border-radius: 5px;

      @include media.media-breakpoint-down(mobile) {
        width: 90px;
      }
    }

    &--input {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
  }
}
