.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.detail {
  width: 90%;
  height: 90vh;
  border: 1px solid;

  &__id {
    font-size: 24px;
    font-weight: 500;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
  }
  &__content {
    height: 100%;
  }
}
