@use "src/utils/styles/mediaQuery" as media;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  border-top: 1px solid #c4c4c4;
}
.writing {
  margin: 10px 0;

  &__form {
    display: flex;
    flex-direction: column;

    &--title {
      font-size: 18px;
      font-weight: 600;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &--input {
      width: 90%;
      height: 60px;
      padding: 5px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #99ccff;
      resize: none;

      &:focus {
        outline: 1px solid #77bbff;
      }
    }
    &--count {
      color: #c4c4c4;
    }

    &--button {
      border-radius: 5px;
      border: 1px solid #99ccff;
      width: 10%;
      margin-top: 10px;
      height: 70px;
      background: linear-gradient(to bottom, #15314d, #215586, #296aa7);
      color: #ffffff;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to bottom, #07111a, #183f62, #205282);
      }
    }
  }
}

.form {
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border-bottom: 1px solid #c4c4c4;
  }
  &__profile {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    &--id {
      font-size: 18px;
      font-weight: 700;
      margin-right: 10px;
    }
    &--time {
      font-size: 12px;
    }
  }
  &__content {
    width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    &--text {
      margin-right: 5px;
    }

    &--button {
      float: right;
      border: none;
      background-color: transparent;
      font-size: 18px;
      font-weight: 900;
      color: #183f62;
      cursor: pointer;

      &:hover {
        color: #59acff;
      }
    }
  }
}
